In [30]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [31]:
# Read in data
maternal_mortality = pd.read_csv("Pregnancy-Associated_Mortality_20241014.csv")
maternal_mortality

,Year,Related,Underlying_cause,Race/ethnicity,Borough,Deaths
0,2016,All,All,All,Bronx,5.0
1,2016,All,All,All,Brooklyn,12.0
2,2016,All,All,All,Manhattan,4.0
3,2016,All,All,All,Queens,8.0
4,2016,All,All,All,Staten Island,4.0
...,...,...,...,...,...,...
231,2021,Unable to Determine,Mental Health Conditions (Overdose related to ...,All,All,6.0
232,2021,Unable to Determine,Other,All,All,3.0
233,2021,Unable to Determine,Cancer,All,All,2.0
234,2021,Unable to Determine,Infection/Sepsis,All,All,2.0
235,2021,Unable to Determine,Unknown COD,All,All,2.0

# Aggregate Data

In [32]:
# Replace "All" values with NaN to emphasize lack of information in aggregate data
condition = maternal_mortality == "All"
maternal_mortality_nan = maternal_mortality.mask(condition, np.nan)

In [33]:
# Get sense of how data is aggregated
maternal_mortality_nan[maternal_mortality_nan['Year'] == "2016"]

,Year,Related,Underlying_cause,Race/ethnicity,Borough,Deaths
0,2016,NaN,NaN,NaN,Bronx,5.0
1,2016,NaN,NaN,NaN,Brooklyn,12.0
2,2016,NaN,NaN,NaN,Manhattan,4.0
3,2016,NaN,NaN,NaN,Queens,8.0
4,2016,NaN,NaN,NaN,Staten Island,4.0
5,2016,NaN,NaN,NaN,Rest of State,3.0
6,2016,NaN,NaN,Asian/Pacific Islander,NaN,4.0
7,2016,NaN,NaN,Black non-Latina,NaN,15.0
8,2016,NaN,NaN,Latina,NaN,9.0
9,2016,NaN,NaN,White non-Latina,NaN,8.0
10,2016,Pregnancy-associated but not related,Mental Health Conditions (Overdose related to ...,NaN,NaN,6.0
11,2016,Pregnancy-associated but not related,Cancer,NaN,NaN,5.0
12,2016,Pregnancy-associated but not related,Cardiovascular Conditions,NaN,NaN,2.0
13,2016,Pregnancy-associated but not related,Infection/Sepsis,NaN,NaN,2.0
14,2016,Pregnancy-associated but not related,Unknown COD,NaN,NaN,1.0
15,2016,Pregnancy-associated but not related,Other,NaN,NaN,1.0
16,2016,Pregnancy-related,NaN,NaN,Bronx,1.0
17,2016,Pregnancy-related,NaN,NaN,Brooklyn,5.0
18,2016,Pregnancy-related,NaN,NaN,Manhattan,4.0
19,2016,Pregnancy-related,NaN,NaN,Rest of State,0.0
20,2016,Pregnancy-related,NaN,NaN,Queens,3.0
21,2016,Pregnancy-related,NaN,NaN,Staten Island,2.0
22,2016,Pregnancy-related,NaN,White non-Latina,NaN,1.0
23,2016,Pregnancy-related,NaN,Latina,NaN,6.0
24,2016,Pregnancy-related,NaN,Black non-Latina,NaN,6.0
25,2016,Pregnancy-related,NaN,Asian/Pacific Islander,NaN,2.0
26,2016,Pregnancy-related,Cardiovascular Conditions,NaN,NaN,7.0
27,2016,Pregnancy-related,Hemorrhage,NaN,NaN,4.0
28,2016,Pregnancy-related,Pregnancy-induced hypertension,NaN,NaN,2.0
29,2016,Pregnancy-related,Asthma/ pulmonary conditions,NaN,NaN,1.0
30,2016,Pregnancy-related,Embolism,NaN,NaN,1.0
31,2016,Unable to Determine,Homicide,NaN,NaN,3.0
32,2016,Unable to Determine,Unknown COD,NaN,NaN,1.0

In [34]:
# Filter out "Rest of State" and "Borough" entries in "Borough" column
maternal_mortality_nan = maternal_mortality_nan[~maternal_mortality_nan['Borough'].isin(['Borough', 'Rest of State'])]
maternal_mortality = maternal_mortality[~maternal_mortality['Borough'].isin(['Borough', 'Rest of State'])]

#### View Race Aggregate Data

In [35]:
# Replace race in maternal_mortality to match US Census
census_race_dict = {"Black non-Latina": "Black", "Latina": "Hispanic or Latina", "White non-Latina": "White",
                   "Hispanic": "Hispanic or Latina", "Non-Hispanic White":"White", "Non-Hispanic Black":"Black", 
                    "Asian/ Pacific Islander": "Asian/Pacific Islander", "Asian": "Asian/Pacific Islander"}

maternal_mortality_nan['Race/ethnicity'] = maternal_mortality_nan['Race/ethnicity'].replace(census_race_dict)
maternal_mortality['Race/ethnicity'] = maternal_mortality['Race/ethnicity'].replace(census_race_dict)

# View race aggregate data
maternal_mortality.groupby(['Race/ethnicity']).sum(numeric_only=True)

/var/folders/wf/6yzbx_4d1051bl9ypnz59pp40000gr/T/ipykernel_90811/1134878314.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  maternal_mortality['Race/ethnicity'] = maternal_mortality['Race/ethnicity'].replace(census_race_dict)

                        Deaths
Race/ethnicity
All                      696.0
Asian/Pacific Islander    42.0
Black                    193.0
Hispanic or Latina       129.0
Other                      7.0
White                     72.0

#### View Borough Aggregate Data

In [36]:
# Filter out "Rest of State" and "Borough" entries in "Borough" column
maternal_mortality = maternal_mortality[~maternal_mortality['Borough'].isin(['Borough', 'Rest of State'])]

# View borough aggregate data
maternal_mortality.groupby(['Borough']).sum(numeric_only=True)

               Deaths
Borough
All             736.0
Bronx           101.0
Brooklyn        137.0
Manhattan        50.0
Queens           87.0
Staten Island    28.0

#### View Underlying Condition Aggregate Data

In [37]:
# View borough aggregate data
maternal_mortality.groupby(['Underlying_cause']).sum(numeric_only=True)

                                                    Deaths
Underlying_cause
All                                                  846.0
Asthma/ pulmonary conditions                          14.0
Cancer                                                32.0
Cardiovascular Conditions                             33.0
Embolism                                              20.0
Hemorrhage                                            26.0
Homicide                                              15.0
Infection/Sepsis                                      25.0
Mental Health Conditions (Overdose related to s...    54.0
Mental Health Conditions (Suicide)                    12.0
Other                                                 39.0
Pregnancy-induced hypertension                         3.0
Unintentional Injury                                   6.0
Unknown COD                                           14.0

# Calculate Maternal Mortality Rates

#### Formula
<br>
Calculate the Maternal Mortality Rate as follows: 
$$
\frac{Number\hspace{.1cm}of\hspace{.1cm}Deaths}{Number\hspace{.1cm}of\hspace{.1cm}Live\hspace{.1cm}Births} * 100,000
$$ 
<br>
Since we don't have data on total births in the maternal mortality dataset, we will create dataframes with these statistics from NYC Department of Health Data 

([Department of Health](https://a816-health.nyc.gov/hdi/epiquery/visualizations?PageType=ps&PopulationSource=Birth)).

### Clean Live Birth Data

In [38]:
# Pull in data of live births in nyc from DOH
nyc_livebirths = pd.read_excel('doh_nyc_livebirths.xlsx')

# Keep only 2016-2021 data to match with maternal_mortality dataset
nyc_livebirths = nyc_livebirths[nyc_livebirths['Yearnum'].isin([2016,2017,2018,2019,2020,2021])]

# Keep only number of live births metric
nyc_livebirths = nyc_livebirths[nyc_livebirths['Metricname'] == "Number of live births"]
nyc_livebirths = nyc_livebirths.loc[:,["Yearnum","Dim1Name", "Dim1Value", "Number"]]

# Rename columns
nyc_livebirths = nyc_livebirths.rename(columns={"Number": "Number of live births", "Yearnum":"Year"})

# Input Dim1Name for "Citywide" Dim1Value
nyc_livebirths.loc[nyc_livebirths['Dim1Value'] == 'Citywide', 'Dim1Name'] = 'Citywide'

### Restructure Data

In [39]:
# Step 1: Create a pivot table with 'Dim1Name' as columns and aggregate 'Dim1Value'
pivoted_df = nyc_livebirths.pivot_table(index=['Year', 'Number of live births'], 
                            columns='Dim1Name', 
                            values='Dim1Value', 
                            aggfunc='first').reset_index()

clean_nyc_livebirths = pivoted_df

In [40]:
# Create function to make a df for each attribute (borough and race/ethnicity)
def attribute_df(df, name):
    return df.groupby([name]).sum(numeric_only=True).reset_index().loc[:,[name, "Number of live births"]]

# Borough livebirths
borough_livebirths = attribute_df(clean_nyc_livebirths, 'Borough of residence')
# Filter out non NYC boroughs 
borough_livebirths = borough_livebirths[~borough_livebirths["Borough of residence"].isin(['Non-residents', 'Not stated /Unknown'])]
# Rename borough column to match maternal_mortality df
borough_livebirths = borough_livebirths.rename(columns={'Borough of residence':"Borough"})

# Race/ethnicity livebirths
race_livebirths = attribute_df(clean_nyc_livebirths, 'Race/ethnicity')
# Filter out Not stated /Unknown
race_livebirths = race_livebirths[race_livebirths['Race/ethnicity'] != 'Not stated /Unknown']
# Rename races according to census_race_dict
race_livebirths['Race/ethnicity'] = race_livebirths['Race/ethnicity'].replace(census_race_dict)
race_livebirths

Dim1Name          Race/ethnicity  Number of live births
0         Asian/Pacific Islander                 109985
1             Hispanic or Latina                 185954
2                          Black                 121425
3                          White                 232418
5                          Other                  10136

### Calculate Maternal Mortality Rate by Race

In [41]:
# Create race_mortality df with only race and deaths from maternal_mortality
race_mortality = maternal_mortality.loc[:,["Race/ethnicity", "Deaths"]].groupby('Race/ethnicity').sum().reset_index()
race_mortality = race_mortality.astype({"Deaths": int})

# Merge race_livebirths with race_mortality on 'Race/ethnicity'
race_mortality_births = pd.merge(race_livebirths, race_mortality, on='Race/ethnicity', how='inner')

# Calculate and Add Maternal Mortality Rate column
race_mortality_births["Maternal Mortality Rate"] = round(race_mortality_births["Deaths"]/
                                                         race_mortality_births["Number of live births"]*100000,0)
race_mortality_births

,Race/ethnicity,Number of live births,Deaths,Maternal Mortality Rate
0,Asian/Pacific Islander,109985,42,38.0
1,Hispanic or Latina,185954,129,69.0
2,Black,121425,193,159.0
3,White,232418,72,31.0
4,Other,10136,7,69.0

### Calculate Maternal Mortality Rate by Borough

In [42]:
# Create race_mortality df with only race and deaths from maternal_mortality
borough_mortality = maternal_mortality.loc[:,["Borough", "Deaths"]].groupby('Borough').sum().reset_index()
borough_mortality = borough_mortality.astype({"Deaths": int})

# Merge borough_livebirths with borough_mortality on 'Borough'
borough_mortality_births = pd.merge(borough_livebirths, borough_mortality, on='Borough', how='inner')

# Calculate and Add Maternal Mortality Rate column
borough_mortality_births["Maternal Mortality Rate"] = round(borough_mortality_births["Deaths"]/
                                                         borough_mortality_births["Number of live births"]*100000,0)
borough_mortality_births

         Borough  Number of live births  Deaths  Maternal Mortality Rate
0          Bronx                 106540     101                     95.0
1       Brooklyn                 219184     137                     63.0
2      Manhattan                  94587      50                     53.0
3         Queens                 140480      87                     62.0
4  Staten Island                  30751      28                     91.0

# Disaggregation of Maternal Mortality Data

### Duplicate rows based on 'Deaths' column
Ensure deaths add up to total number of deaths of NYC residents (403)

In [43]:
# Keep only rows of deaths of NYC residents, giving total count of deaths of NYC residents = 403
df = maternal_mortality[~maternal_mortality['Borough'].isin(['Borough', 'Rest of state','All'])]

# Duplicating rows based on the 'Deaths' column
df_expanded2 = maternal_mortality.loc[df.index.repeat(df['Deaths'])].reset_index(drop=True)

df_expanded2['Deaths'] = 1

### Impute Race/ethnicity 
* Taking into account race makeup of boroughs
* Proportion of deaths per race

#### Find Proportions of Race in Borough Populations
* Use 2020 census data

##### Clean and Restructure Census Data

In [44]:
# Load in census data
borough_census_data = pd.read_excel("us_census_2020_borough_demo_data.xlsx")

# Create df with proportion of population by race and borough
borough_race_population_df = borough_census_data
borough_race_population_df['White Proportion'] = borough_race_population_df['White Population']/borough_race_population_df['Population']
borough_race_population_df['Hispanic Proportion'] = borough_race_population_df['Hispanic Population']/borough_race_population_df['Population']
borough_race_population_df['Black Proportion'] = borough_race_population_df['Black Population']/borough_race_population_df['Population']
borough_race_population_df['Asian Proportion'] = borough_race_population_df['Asian Population']/borough_race_population_df['Population']
borough_race_population_df['Other Proportion'] = borough_race_population_df['Other Race Population']/borough_race_population_df['Population']
borough_race_population_df = borough_race_population_df.loc[:,['Borough', 'White Proportion','Hispanic Proportion','Black Proportion',
                                                              'Asian Proportion', 'Other Proportion']]

In [45]:
# Melt the DataFrame
df_melted = pd.melt(borough_race_population_df, 
                    id_vars=['Borough'], 
                    var_name='Race', 
                    value_name='Proportion')

# Clean up the 'Race' column by removing " Proportion" from the race names
df_melted['Race'] = df_melted['Race'].str.replace(' Proportion', '')

# Assign melted df to borough_race_population_df
borough_race_population_df = df_melted
borough_race_population_df.head()

         Borough   Race  Proportion
0      Manhattan  White    0.500282
1         Queens  White    0.258360
2       Brooklyn  White    0.376004
3          Bronx  White    0.140952
4  Staten Island  White    0.596108

In [46]:
# Match race to census dict
borough_race_population_df['Race'] = borough_race_population_df['Race'].replace(census_race_dict)
borough_race_population_df = borough_race_population_df.rename(columns={"Race":"Race/ethnicity"})

#### Find Proportions of Deaths per Race

In [47]:
race_death_proportions_df = maternal_mortality.groupby(['Race/ethnicity']).sum(numeric_only=True).reset_index()
race_death_proportions_df = race_death_proportions_df[race_death_proportions_df["Race/ethnicity"] !=  "All"]
race_death_proportions_df['Proportion of Deaths'] = race_death_proportions_df['Deaths']/race_death_proportions_df['Deaths'].sum()

# Target proportions want imputed df to maintain
target_death_proportions_df = race_death_proportions_df.loc[:,['Race/ethnicity', 'Proportion of Deaths']]
target_death_proportions_df

           Race/ethnicity  Proportion of Deaths
1  Asian/Pacific Islander              0.094808
2                   Black              0.435666
3      Hispanic or Latina              0.291196
4                   Other              0.015801
5                   White              0.162528

#### Calculate Weights

In [48]:
# Assuming merged_data contains the proportion of race in borough populations
merged_data = pd.merge(borough_race_population_df, target_death_proportions_df, on='Race/ethnicity')

# Calculate weights as the ratio of target proportions to current proportions
merged_data['Weight'] = merged_data['Proportion of Deaths'] / merged_data['Proportion']

#### Normalize Weights

In [49]:
merged_data['Total Weight'] = merged_data.groupby('Borough')['Weight'].transform('sum')
merged_data['Normalized Weight'] = merged_data['Weight'] / merged_data['Total Weight']

#### Impute Race Values
* Ensure death count per race does not exceed original death count per race
    * It's ok if it is under the total count becuase the aggregated race deaths include non NYC residents, which we removed
* Closely align proportions to maintain integrity of original dataset

In [50]:
# Count original deaths per race
original_death_counts = maternal_mortality[maternal_mortality['Race/ethnicity'] != "All"].groupby('Race/ethnicity')['Deaths'].sum()

# Create a counter for current race counts in the imputed data
current_race_counts = {race: 0 for race in original_death_counts.index}

def fill_race(row):
    if row['Race/ethnicity'] == "All":
        borough = row['Borough']
        race_borough_probs = merged_data[merged_data['Borough'] == borough]
        
        if not race_borough_probs.empty:
            # Only use probabilities where the weight is greater than zero
            race_borough_probs = race_borough_probs[race_borough_probs['Normalized Weight'] > 0]
            if not race_borough_probs.empty:
                # Create a list of available races and their corresponding probabilities
                available_races = []
                probabilities = []

                for index, prob_row in race_borough_probs.iterrows():
                    race = prob_row['Race/ethnicity']
                    if current_race_counts[race] < original_death_counts[race]:
                        available_races.append(race)
                        probabilities.append(prob_row['Normalized Weight'])

                # Normalize the probabilities
                if available_races:
                    probabilities = np.array(probabilities) / sum(probabilities)
                    selected_race = np.random.choice(available_races, p=probabilities)
                    current_race_counts[selected_race] += 1  # Increment the count for the selected race
                    return selected_race

    return row['Race/ethnicity']

# Apply the function to fill in missing race values
df_expanded2['Race/ethnicity'] = df_expanded2.apply(fill_race, axis=1)

# Print the final counts for verification
final_counts = df_expanded2['Race/ethnicity'].value_counts()

# Show the final counts and original counts for comparison
print("Final counts:\n", final_counts)
print("Original counts:\n", original_death_counts)

# Ensure that final counts do not exceed original counts
for race in original_death_counts.index:
    assert final_counts.get(race, 0) <= original_death_counts[race], f"{race} count exceeded!"

Final counts:
 Black                     170
Hispanic or Latina        122
White                      62
Asian/Pacific Islander     42
Other                       7
Name: Race/ethnicity, dtype: int64
Original counts:
 Race/ethnicity
Asian/Pacific Islander     42.0
Black                     193.0
Hispanic or Latina        129.0
Other                       7.0
White                      72.0
Name: Deaths, dtype: float64

#### Validate
Check proportions from imputed race data align with proportions from original data

In [51]:
# Check race death proportions against original
expanded_race_prop_check = df_expanded2.groupby('Race/ethnicity').sum(numeric_only=True).reset_index()
expanded_race_prop_check['Proportion of Deaths'] = expanded_race_prop_check['Deaths'] / sum(expanded_race_prop_check['Deaths'])

original_race_prop = maternal_mortality[maternal_mortality['Race/ethnicity'] != "All"].groupby('Race/ethnicity').sum(numeric_only=True).reset_index()
original_race_prop['Proportion of Deaths'] = original_race_prop['Deaths'] / sum(original_race_prop['Deaths'])

# Show new race proportions of death and new race proportions of death of the expanded_df
original_race_prop, expanded_race_prop_check

(           Race/ethnicity  Deaths  Proportion of Deaths
 0  Asian/Pacific Islander    42.0              0.094808
 1                   Black   193.0              0.435666
 2      Hispanic or Latina   129.0              0.291196
 3                   Other     7.0              0.015801
 4                   White    72.0              0.162528,
            Race/ethnicity  Deaths  Proportion of Deaths
 0  Asian/Pacific Islander      42              0.104218
 1                   Black     170              0.421836
 2      Hispanic or Latina     122              0.302730
 3                   Other       7              0.017370
 4                   White      62              0.153846)

#### Adjust to match Original Proportions
Adjust to align proportions more closely to original dataset

In [52]:
# Calculate the total number of deaths (rows) in the imputed dataset
total_deaths_imputed = df_expanded2.shape[0]

# Calculate desired counts based on the original proportions
original_deaths_total = original_race_prop['Deaths'].sum()
original_race_prop['Desired Count'] = (original_race_prop['Deaths'] / original_deaths_total) * total_deaths_imputed

# Count current races in the imputed dataset
current_counts = df_expanded2['Race/ethnicity'].value_counts().reset_index()
current_counts.columns = ['Race/ethnicity', 'Current Count']

# Merge the original and current counts to calculate adjustments
race_counts = pd.merge(original_race_prop[['Race/ethnicity', 'Desired Count']], 
                        current_counts, 
                        on='Race/ethnicity', 
                        how='outer').fillna(0)


# Calculate adjustments needed
race_counts['Adjustment'] = race_counts['Desired Count'] - race_counts['Current Count']

# Prepare for adjustment
# Create a mask for rows that need to change to each race
df_expanded2['Needs Adjustment'] = df_expanded2['Race/ethnicity'].apply(
    lambda x: {race: 0 for race in race_counts['Race/ethnicity']} if x not in race_counts['Race/ethnicity'].values else {x: 1}
)

# Randomly adjust race values based on the calculated adjustments
for _, row in race_counts.iterrows():
    race = row['Race/ethnicity']
    additional_deaths = int(row['Adjustment'])  # Convert to integer for indexing

    if additional_deaths > 0:
        # Find indices of entries that need to be changed
        indices_to_adjust = df_expanded2.index[df_expanded2['Race/ethnicity'] != race].tolist()
        np.random.shuffle(indices_to_adjust)  # Shuffle for random selection
        
        # Change the race value for the selected indices
        for i in indices_to_adjust[:additional_deaths]:
            df_expanded2.at[i, 'Race/ethnicity'] = race  # Assign to the target race

# Validate the final race proportions
final_race_prop_check = (
    df_expanded2['Race/ethnicity']
    .value_counts(normalize=True)
    .reset_index()
)
final_race_prop_check.columns = ['Race/ethnicity', 'Proportion of Deaths']

# Display original and final proportions for comparison
final_output = pd.merge(
    original_race_prop[['Race/ethnicity', 'Proportion of Deaths']],
    final_race_prop_check,
    on='Race/ethnicity',
    how='outer'
).fillna(0)

# Show the original and final proportions for review
final_output

           Race/ethnicity  Proportion of Deaths_x  Proportion of Deaths_y
0  Asian/Pacific Islander                0.094808                0.104218
1                   Black                0.435666                0.431762
2      Hispanic or Latina                0.291196                0.297767
3                   Other                0.015801                0.009926
4                   White                0.162528                0.156328

In [53]:
# Assign adjusted dataframe to new variable to keep track
df_expanded3 = df_expanded2.iloc[:,0:6]

In [55]:
df_expanded3

,Year,Related,Underlying_cause,Race/ethnicity,Borough,Deaths
0,2016,All,All,White,Bronx,1
1,2016,All,All,Hispanic or Latina,Bronx,1
2,2016,All,All,Hispanic or Latina,Bronx,1
3,2016,All,All,White,Bronx,1
4,2016,All,All,Black,Bronx,1
...,...,...,...,...,...,...
398,2021,Pregnancy-related,All,Black,Queens,1
399,2021,Pregnancy-related,All,Black,Queens,1
400,2021,Pregnancy-related,All,Hispanic or Latina,Queens,1
401,2021,Pregnancy-related,All,White,Queens,1
402,2021,Pregnancy-related,All,Hispanic or Latina,Staten Island,1

#### Impute Underlying Cause
* Taking into account frequency in race populations
* Proportion of deaths per cause